/L4/Exercicio2/nbproject/private/
/L4/Exercicio2/build/
/L4/exercicio3/nbproject/private/
/L4/exercicio3/build/
/L4/exercicio4/nbproject/private/
/L4/exercicio4/build/
/L4/exercicio5/nbproject/private/
/L4/exercicio5/build/
/L4/exercicio6/nbproject/private/
/L4/exercicio6/build/
/L4/Exercicio7/nbproject/private/
/L4/Exercicio7/build/
/L4/Exercicio8/nbproject/private/
/L4/Exercicio8/build/
/L4/Exercicio9/nbproject/private/
/L4/Exercicio9/build/
/L4/Exercicio10/nbproject/private/
/L4/Exercicio10/build/
/L4/Exercicio 11/nbproject/private/
